section.location#locations
	.container 
		.location__inner
			span(class="guns__name location__name") locations
			.location__full-img
				img.location__img-full(src="./img/locations/location-2.webp" width="500" height="300" alt="Game location")
				button.location__close 
					+svg("volume-off", "location__close-icon", 95)
			.location__row-top
				img.location__img(src="./img/locations/location-2.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-3.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-4.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-5.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-6.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-7.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-8.webp" width="500" height="300" alt="Game location")
			.location__row-bot
				img.location__img(src="./img/locations/location-9.webp" width="500" height="300" alt="Game location") 
				img.location__img(src="./img/locations/location-10.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-11.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-12.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-13.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-14.webp" width="500" height="300" alt="Game location")
				img.location__img(src="./img/locations/location-15.webp" width="500" height="300" alt="Game location")





























