@media (max-width: 933px) {
	.player {
		&__content {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
		}

		&__wrapper {
			grid-column: 1 / 4;
			grid-row: 1 / 2;
		}

		&__playlist--two {
			justify-self: unset;
		}
	}
}

@media (max-width: 500px){
	.player {
		&__content {
			grid-template-columns: 1fr;
			gap: 16px;
		}
		&__wrapper {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}
	
}