extends ./default/_default

block hero-content
    include ./components/DOOM/doom

block main-content
    include ./components/bestiary/bestiary
    include ./components/guns/guns.html
    //- include ./components/locations/locations
    include ./components/slayer/slayer
