section.slayer#slayer
	.container 
		.slayer__inner
			span.slayer__title slayer 
			.slayer__model 
				.slayer__doomguy
					img.slayer__img(src="./img/doomguy2.webp", width="559", height="678", alt="Doomguy")
				p.slayer__descr.slayer__descr--1 The helmet offers essential data on enemy locations, health, resources, aiding navigation in complex infernal levels.
				p.slayer__descr.slayer__descr--2 The chest plate provides a high level of protection against various types of attacks, including bullets, fire, energy shots, and other forms of damage.
				p.slayer__descr.slayer__descr--3 Integrated support systems such as auto-injectors or medical modules capable of restoring Doomguy's health or armor during combat.
				p.slayer__descr.slayer__descr--4 Footwear boosts Doomguy's speed, agility, and resilience, crucial for navigating and surviving hostile environments.