@media (max-width: 1200px) {
	.slayer {
		&__descr--1,
		&__descr--4 {
			left: 62.5%;
		}
	}
}

@media (max-width: 1100px) {
	.slayer {
		&__descr--1,
		&__descr--4 {
			left: 63.5%;
		}
	}
}

@media (max-width: 1024px) {
	.slayer {
		&__descr--1,
		&__descr--4,
		&__descr--2,
		&__descr--3 {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			&::after {
				top: -25px;
				right: 0;
				bottom: -25px;
				left: -15px;

				background-image: url(../icons/sprite.svg#empty);
			}
		}

		&__model {
			display: grid;
			grid-template-columns: 2fr 1fr;
			align-items: flex-start;
		}

		&__doomguy {
			// margin-left: -120px;
			grid-row: 1 / 5;
		}

		&__descr {
			position: relative;
			grid-column: 2 / 3;
			// grid-row: 1 / 2;
		}
	}
}

@media (max-width: 768px) {
	.slayer {
		&__model {
			grid-template-columns: 1fr;
			gap: 24px;
			justify-items: center;
		}

		&__doomguy {
			grid-row: unset;
		}

		&__descr {
			grid-column: unset;
		}
	}
}

@media (max-width: 425px) {
	.slayer {
		&__model {
			gap: 64px;
		}
		&__title {
			font-size: 156px;
		}

		&__descr {
			width: 310px;
			padding: 0;
			font-size: 14px;
		}

		&__descr--1,
		&__descr--4,
		&__descr--2,
		&__descr--3 {
			&::after {
				top: -38px;
				right: 0;
				bottom: -31px;
				left: -5px;
			}
		}
	}
}
