.slayer {
	@include overlay(0.5);

	z-index: 1;

	min-height: 100vh;
	padding: 20px 0 35px 0;

	background-image: url(../img/location-slayer.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner {
		position: relative;
		z-index: 100;
	}

	&__title {
		display: inline-block;

		margin-bottom: clamp-px(20, 120);

		font-family: "Doom", sans-serif;
		font-size: 180px;
		line-height: 1;

		background-image: url(../img/doom-logo.webp);
		background-repeat: no-repeat;
		background-position: -90px 0px;
		-webkit-background-clip: text;
		background-clip: text;
		background-size: 610%;

		-webkit-text-fill-color: transparent;
	}

	&__model {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		// margin-bottom: clamp-px(20, 40);
	}

	&__wrap {
		position: relative;
	}

	&__descr {
		position: absolute;
		z-index: 500;

		width: 330px;
		padding: 12px;

		font-size: 18px;
		color: #ffffff;
	}

	&__descr--1 {
		top: -40px;
		left: 61.5%;

		&::after {
			content: "";

			position: absolute;
			z-index: -1;
			top: -15px;
			right: 0;
			bottom: -20px;
			left: -103px;

			display: block;

			background-image: url(../icons/sprite.svg#boarder-tr-line);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}

	&__descr--2 {
		top: 50px;
		right: 66%;
		&::after {
			content: "";

			position: absolute;
			z-index: -1;
			top: -65px;
			right: -90px;
			bottom: -58px;
			left: -11px;

			display: block;

			background-image: url(../icons/sprite.svg#boarder);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}

	&__descr--3 {
		right: 63%;
		bottom: 203px;

		&::after {
			content: "";

			position: absolute;
			z-index: -1;
			top: -138px;
			right: -100px;
			bottom: -49px;
			left: -7px;

			display: block;

			background-image: url(../icons/sprite.svg#boarder-bl);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}

	&__descr--4 {
		bottom: 80px;
		left: 63%;
		&::after {
			content: "";

			position: absolute;
			z-index: -1;
			top: -25px;
			right: 9px;
			bottom: -24px;
			left: -83px;

			display: block;

			background-image: url(../icons/sprite.svg#boarder-br);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}

	&__quote {
		font-size: 20px;
		font-weight: 700;
		color: #ffffff;
	}
}
