$main-font: "Montserrat";

$color-title: #2a2a2a;
$color-descr: #444444;
$color-hero-descr: #a4a4a4;
$color-notes: #5c5c5c;
$color-accent: #ff0000;
$color-accent-btn: #ffa34c;
$color-light: #ffffff;
$color-bg: #efefef;
$color-border: null;

$color-input-bg: #e8e8e8;
$color-input-switch: #ffffff;
$color-input-accent: #34c759;

$line-height-subtitle: null;
$line-height-text: null;
$line-height-base: 1.2;

$letter-spacing-base: null;
